.garden_share {
  //display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  .garden_inp {
    width: 100%;
    height: 100%;
    padding: 20/37.5rem 40/37.5rem;
    position: relative;
    .close_input {
      width: 30/37.5rem;
      height: 30/37.5rem;
      position: absolute;
      right: 40/37.5rem;
      top: 20/37.5rem;
    }
    .input_text {
      width: 100%;
      height: 43/37.5rem;
      padding: 0 20/37.5rem;
      background-color: #fff;
      margin: 150/37.5rem 0 0;
    }
    input::-webkit-input-placeholder { /* WebKit browsers*/
      font-size: 14/37.5rem !important;
      color: #999 !important;
    }
    .pro_txt_gar {
      text-align: center;
      color: #fff;
      font-size: 12/37.5rem;
      padding: 15/37.5rem 0 60/37.5rem;
    }
    .input_btn {
      width: 6.2rem;
      display: block;
      padding: 0.21333333rem 0;
      margin: 0 auto;
      text-align: center;
      -webkit-border-radius: 1.33333333rem;
      -moz-border-radius: 1.33333333rem;
      -ms-border-radius: 1.33333333rem;
      border-radius: 1.33333333rem;
      background-color: #FF9900;
      color: #fff;
    }
  }
}