.wrap .public {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 0.3rem;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap .public .evaluationHeder {
  width: 100%;
  min-height: 2rem;
  position: relative;
}
.wrap .public .evaluationHeder img {
  width: 30%;
  float: left;
}
.wrap .public .evaluationHeder span {
  position: absolute;
  font-size: 0.53333333rem;
  bottom: 0.53333333rem;
  margin-left: 0.53333333rem;
  font-weight: 600;
  top: 1rem;
}
.wrap .public .evaluationMess {
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 0.4rem;
}
.wrap .public .evaluationMess .messNickname {
  width: 90%;
  margin: 0 auto;
  height: 1.06666667rem;
  border-bottom: 0.02666667rem solid #f2f2f2;
  margin-bottom: 0.4rem;
  position: relative;
  color: #949494;
}
.wrap .public .evaluationMess .messNickname .nickname {
  width: 30%;
  font-size: 0.37333333rem;
  line-height: 1.06666667rem;
  padding-left: 0.26666667rem;
}
.wrap .public .evaluationMess .messNickname i {
  display: block;
  width: 0.02666667rem;
  height: 0.53333333rem;
  background-color: #f2f2f2;
  position: absolute;
  top: 0.26666667rem;
  left: 2.13333333rem;
}
.wrap .public .evaluationMess .messNickname .textIpt {
  width: 60%;
  padding-left: 0.8rem;
  color: #000;
  font-size: 0.36rem;
}
.wrap .public .evaluationMess .messNickname .couponIdRadio {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 0 1px #ccc;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
}
.wrap .public .evaluationMess .messSex input {
  margin-left: 10%;
  font-size: 0.36rem;
}
.wrap .public .evaluationMess .messDate .dateIpu {
  margin-left: 10%;
  color: #D7D7D7;
  cursor: pointer;
}
.wrap .public .evaluationMess .messDate .dateLarge {
  position: absolute;
  top: 0.26666667rem;
  right: 5%;
  color: #D7D7D7;
}
.wrap .public .evaluationRemind {
  font-size: 0.26666667rem;
  text-align: center;
  color: #A1A1A1;
}
.wrap .public .evaluationStart {
  text-align: center;
  margin-top: 0.8rem;
}
.wrap .public .evaluationStart a {
  color: #0066ff;
  font-size: 0.38rem;
}
