.wrap .public {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap .public .homePage {
  width: 100%;
  height: 100%;
  max-width: 540px;
}
.wrap .public .homePage .homeHeader {
  width: 100%;
  background-color: #fff;
  padding: 0.53333333rem 0 0.26666667rem;
}
.wrap .public .homePage .homeHeader .headerImg {
  float: left;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 0.5rem;
}
.wrap .public .homePage .homeHeader .headerImg img {
  width: 1.3rem;
  height: 1.3rem;
}
.wrap .public .homePage .homeHeader .headerRight {
  float: right;
  width: 80%;
}
.wrap .public .homePage .homeHeader .headerRight .rightTop {
  width: 100%;
  height: 1.06666667rem;
  border-bottom: 0.02666667rem solid #eeeeee;
}
.wrap .public .homePage .homeHeader .headerRight .rightTop .topName {
  width: 50%;
  height: 1.06666667rem;
  float: left;
  line-height: 1.06666667rem;
  color: #FF9900;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom {
  margin-top: 0.34666667rem;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul {
  width: 100%;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul li {
  float: left;
  text-align: left;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul li span {
  display: block;
  padding-left: 0.7rem;
  font-size: 0.4rem;
  color: #000;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul li p {
  margin-top: 0.13333333rem;
  font-size: 0.26666667rem;
  color: #868686;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul li .participateNum {
  color: #FF9933;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul li .participate {
  margin-top: 0.1rem;
  font-size: 0.26666667rem;
  color: #FF9933;
  padding-bottom: 0.26666667rem;
  border-bottom: 0.05333333rem solid #FF9933;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botOne {
  width: 27%;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botTwo {
  text-align: center;
  width: 38%;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botTwo .botOneSpan {
  padding-left: 0;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botThree {
  width: 35%;
  text-align: center;
  padding-right: 0.4rem;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botJoinOne {
  width: 33.33%;
  text-align: center;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botJoinOne .botJoinSpan {
  text-align: center;
  padding-left: 0;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botJoinTwo {
  width: 33.33%;
  text-align: center;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botJoinTwo .botJoinSpan {
  text-align: center;
  padding-left: 0;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botJoinThree {
  width: 33.33%;
  text-align: center;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botJoinThree .botJoinSpan {
  text-align: center;
  padding-left: 0;
}
.wrap .public .homePage .participateHeader {
  width: 100%;
  background-color: #fff;
  padding: 0.53333333rem 0 0;
}
.wrap .public .homePage .homePlan {
  width: 95%;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 0.13333333rem;
}
.wrap .public .homePage .homePlan .planTit {
  width: 100%;
}
.wrap .public .homePage .homePlan .planTit .tit {
  width: 100%;
  height: 0.8rem;
}
.wrap .public .homePage .homePlan .planTit .tit div {
  width: 0.08rem;
  height: 0.8rem;
  background-color: #ff9900;
  -webkit-border-radius: 0 0.13333333rem 0.13333333rem 0;
  -ms-border-radius: 0 0.13333333rem 0.13333333rem 0;
  -moz-border-radius: 0 0.13333333rem 0.13333333rem 0;
  border-radius: 0 0.13333333rem 0.13333333rem 0;
  float: left;
  margin-top: 0.3rem;
}
.wrap .public .homePage .homePlan .planTit .tit h4 {
  float: left;
  padding-left: 0.4rem;
  line-height: 0.8rem;
  font-size: 0.4rem;
  color: #000;
  font-weight: 600;
  margin-top: 0.3rem;
}
.wrap .public .homePage .homePlan .planTit .tit h4 span {
  font-size: 0.32rem;
  color: #000;
  font-weight: 300;
}
.wrap .public .homePage .homePlan .planTit .tit .participateStar {
  font-weight: 300;
}
.wrap .public .homePage .homePlan .planTit .tit .participateTit {
  font-size: 0.37333333rem;
  color: #000;
  font-weight: 600;
}
.wrap .public .homePage .homePlan .planTit .tit .participateTit span {
  font-weight: 300;
}
.wrap .public .homePage .homePlan .planTit .tit .participateTit span e {
  color: #f2f2f2;
}
.wrap .public .homePage .homePlan .planTit .planContent {
  width: 95%;
  min-height: 3.5rem;
  margin: 0 auto 0.26666667rem;
  position: relative;
  padding-top: 0.53333333rem;
  margin-top: 0.53333333rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidImg {
  width: 30%;
  float: left;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText {
  width: 67%;
  float: right;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP {
  width: 100%;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .textTit {
  text-align: left;
  font-size: 0.37333333rem;
  color: #000;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .participateStar {
  font-weight: 300;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .participateTit {
  font-size: 0.37333333rem;
  color: #000;
  font-weight: 600;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .participateTit span {
  font-weight: 300;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .participateTit span e {
  color: #f2f2f2;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP p {
  padding-top: 0.26666667rem;
  font-size: 0.32rem;
  color: #AEAEAE;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .work {
  padding-top: 0.4rem 0;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .work span {
  color: #ff9933;
  font-size: 0.53333333rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .work span e {
  font-size: 0.34666667rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .unpaidBtn {
  width: 22%;
  height: 0.4rem;
  margin-top: 0.4rem;
  border: 0.02666667rem solid #f2f2f2;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  text-align: center;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .unpaidBtn img {
  width: 15%;
  float: left;
  margin-left: 0.16rem;
  margin-top: 0.10666667rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .unpaidBtn span {
  display: block;
  float: left;
  font-size: 0.34666667rem;
  transform: scale(0.5);
  margin-top: -0.32rem;
  margin-left: 0.13333333rem;
  color: #AEAEAE;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .sign {
  width: 23%;
  height: 0.4rem;
  margin-top: 0.4rem;
  border: 0.02666667rem solid #ff9933;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  text-align: center;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .sign img {
  margin-top: 0.05333333rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .sign span {
  font-size: 0.34666667rem;
  transform: scale(0.5);
  margin-top: -0.32rem;
  margin-left: 0.21333333rem;
  color: #ff9933;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task {
  width: 100%;
  margin-top: 0.26666667rem;
  height: 0.48rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task .taskTxt {
  float: left;
  font-size: 0.32rem;
  line-height: 0.48rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task .taskTxt .txtClass {
  color: #000;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task .taskTxt .txtDate {
  color: #AEAEAE;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task .taskTxt .txtTask {
  color: #AEAEAE;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task .taskTxt .costNum {
  color: #ff9933;
  font-size: 0.53333333rem;
  margin-left: 0.4rem;
  font-style: oblique;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task .taskTxt .costOrig {
  font-size: 0.37333333rem;
  color: #AEAEAE;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task a {
  float: right;
  font-size: 0.29333333rem;
  line-height: 0.48rem;
  color: #AEAEAE;
  margin-right: 0.4rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task .review {
  width: 30%;
  color: #ff9933;
  text-align: center;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -ms-border-radius: 0.08rem;
  border-radius: 0.08rem;
  padding: 0.02666667rem 0.4rem;
  border: 0.02666667rem solid #ff9933;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task .completedDet {
  width: 30%;
  color: #fff;
  text-align: center;
  border-radius: 0.08rem;
  padding: 0.08rem 0.26666667rem;
  background-color: #ff9933;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .taskBot {
  margin-top: 0.48rem;
}
.wrap .public .homePage .homePlan .planTit .line {
  width: 95%;
  height: 1px;
  background-color: #F2F2F2;
  margin: 0.08rem auto 0.21333333rem;
}
.wrap .public .homePage .homePlan .planTit .planJoin {
  width: 60%;
  padding: 0.16rem 0;
  margin: 0.13333333rem auto 0.4rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #ff9900;
}
.wrap .public .homePage .homePlan .planTit .planJoin a {
  color: #fff;
  font-size: 0.34666667rem;
}
.wrap .public .homePage .homePlan {
  width: 95%;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 0.13333333rem;
}
.wrap .public .homePage .homePlan .planTit {
  width: 100%;
}
.wrap .public .homePage .homePlan .planTit .tit {
  width: 100%;
  height: 0.8rem;
}
.wrap .public .homePage .homePlan .planTit .tit div {
  width: 0.08rem;
  height: 0.8rem;
  background-color: #ff9900;
  -webkit-border-radius: 0 0.13333333rem 0.13333333rem 0;
  -ms-border-radius: 0 0.13333333rem 0.13333333rem 0;
  -moz-border-radius: 0 0.13333333rem 0.13333333rem 0;
  border-radius: 0 0.13333333rem 0.13333333rem 0;
  float: left;
}
.wrap .public .homePage .homePlan .planTit .tit h4 {
  float: left;
  padding-left: 0.18666667rem;
  line-height: 0.8rem;
  font-size: 0.37333333rem;
  color: #000;
  font-weight: 600;
}
.wrap .public .homePage .homePlan .planTit .planContent {
  width: 95%;
  margin: 0 auto 0.13333333rem;
  position: relative;
}
.wrap .public .homePage .homePlan .planTit .planContent .planIcon {
  width: 1.33333333rem;
  position: absolute;
  right: 0.13333333rem;
  top: -0.93333333rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  transform: rotate(15deg);
}
.wrap .public .homePage .homePlan .planTit .planContent .planImg {
  width: 100%;
}
.wrap .public .homePage .homePlan .planTit .planContent .planText {
  width: 100%;
  height: auto;
  min-height: 2.5rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .planText .textP {
  font-size: 0.34666667rem;
  padding-bottom: 0.26666667rem;
  border-bottom: 0.02666667rem solid #f2f2f2;
}
.wrap .public .homePage .homePlan .planTit .planContent .planText .textP p {
  color: #000;
  padding-top: 0.26666667rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .planText .planJoin {
  width: 60%;
  padding: 0.21333333rem 0;
  margin: 0.26666667rem auto 0.4rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #ff9900;
}
.wrap .public .homePage .homePlan .planTit .planContent .planText .planJoin a {
  color: #fff;
  font-size: 0.26666667rem;
}
.wrap .public .homePage .homePlan .planSkill {
  margin-top: 0.13333333rem;
}
.wrap .public .homePage .homePlan .planSkill .skillBottom {
  text-align: center;
  padding: 0.21333333rem 0;
}
.wrap .public .homePage .homePlan .planSkill .skillBottom a {
  color: #ff9900;
  font-size: 0.4rem 0;
}
.wrap .public .homeLine {
  width: 100%;
  height: 0.13333333rem;
  background-color: #f2f2f2;
}
