.wrapPage {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
}
.wrapPage .classDetails {
  width: 100%;
  height: auto;
}
.wrapPage .classDetails .exhibitionBox .classBanner {
  width: 100%;
}
.wrapPage .classDetails .exhibitionBox .classTitle {
  text-align: left;
  font-size: 0.5rem;
  padding: 0.53333333rem 0.4rem;
}
.wrapPage .classDetails .exhibitionBox .classTear {
  width: 92%;
  margin: 0 auto;
  border-bottom: 1px solid #F2F2F2;
  padding: 0 0 0.4rem;
}
.wrapPage .classDetails .exhibitionBox .classTear p {
  font-size: 0.3rem;
  color: #A1A1A1;
  line-height: 0.8rem;
}
.wrapPage .classDetails .exhibitionBox .classTear .tearImg {
  float: left;
}
.wrapPage .classDetails .exhibitionBox .classTear .tearImg img {
  width: 0.8rem;
  height: 0.8rem;
}
.wrapPage .classDetails .exhibitionBox .classTear .tearImg .tearch {
  padding-left: 0.26666667rem;
}
.wrapPage .classDetails .exhibitionBox .classAudio {
  width: 100%;
  padding: 0.4rem 0.4rem;
}
.wrapPage .classDetails .exhibitionBox .classAudio .audioDiv {
  width: 100%;
  padding: 0.3rem 0.4rem 0.2rem 0.2rem;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 0.05333333rem;
  -moz-border-radius: 0.05333333rem;
  -ms-border-radius: 0.05333333rem;
  -o-border-radius: 0.05333333rem;
  border-radius: 0.05333333rem;
  background-color: #f2f2f2;
}
.wrapPage .classDetails .exhibitionBox .classAudio .audioDiv .playBtn {
  float: left;
  width: 1.3rem;
  height: 1.3rem;
  background: url(../img/play.png) no-repeat center center;
  background-size: 1.3rem;
}
.wrapPage .classDetails .exhibitionBox .classAudio .audioDiv .play {
  float: left;
  width: 1.3rem;
  height: 1.3rem;
  background: url(../img/play.png) no-repeat center center;
  background-size: 1.3rem;
}
.wrapPage .classDetails .exhibitionBox .classAudio .audioDiv .pause {
  width: 1.2rem !important;
  height: 1.2rem !important;
  background: url(../img/askList/pause.png) no-repeat center center !important;
  background-size: 1.2rem !important;
  display: block !important;
  margin: 0 auto !important;
}
.wrapPage .classDetails .exhibitionBox .classAudio .audioDiv .section {
  float: right;
  width: 82%;
  font-size: 0.32rem;
  font-weight: 400;
  font-style: normal;
  line-height: 0.5rem;
  text-align: left;
  overflow: visible!important;
}
.wrapPage .classDetails .exhibitionBox .classAudio .audioDiv .section .sectionTxt {
  font-size: 0.34rem;
  color: #515151;
  padding-top: 0.12rem;
}
.wrapPage .classDetails .exhibitionBox .classAudio .audioDiv .section .audioContTime {
  padding-top: 0.15rem;
  color: #BCBCBC;
}
.wrapPage .classDetails .exhibitionBox .classContent {
  padding: 0.13333333rem 0.4rem 0.4rem;
}
.wrapPage .classDetails .exhibitionBox .classContent p {
  color: #434343;
  font-size: 0.36rem;
  line-height: 0.6rem;
}
.wrapPage .classDetails .exhibitionBox .classContent h4 {
  font-size: 0.38rem;
  color: #333;
  font-weight: bold;
  padding: 0.4rem 0;
}
.wrapPage .classDetails .exhibitionBox .classContent .tearIntroduce {
  font-size: 0.3rem;
  color: #A1A1A1;
  display: block;
  padding-bottom: 0.4rem;
}
.wrapPage .classDetails .exhibitionBox .division {
  margin: 0 0.4rem 0.3rem 0.4rem;
}
.wrapPage .classDetails .exhibitionBox .bannerVipImg {
  display: block;
  width: 92%;
  margin: 0 auto 0.5rem;
}
.wrapPage .classDetails .hideBox {
  width: 100%;
  padding: 0.4rem;
}
.wrapPage .classDetails .hideBox .lowerArr {
  width: 0.8rem;
}
.wrapPage .classDetails .hideBox .hideBanner {
  width: 100%;
  margin-top: 0.3rem;
}
.wrapPage .classDetails .hideBox .askTitle {
  padding: 0.4rem 0.4rem 0.13333333rem;
  text-align: center;
  font-size: 0.45rem;
}
.wrapPage .classDetails .hideBox .teacher {
  text-align: center;
  font-size: 0.3rem;
  color: #AEAEAE;
  padding: 0.4rem 0;
}
.wrapPage .classDetails .hideBox .audioDiv {
  width: 100%;
  padding: 0.4rem;
}
.wrapPage .classDetails .hideBox .audioDiv .section {
  font-size: 0.32rem;
  font-weight: 400;
  font-style: normal;
  line-height: 0.5rem;
  text-align: left;
  overflow: visible!important;
}
.wrapPage .classDetails .hideBox .audioDiv .section .sectionTxt {
  font-size: 0.32rem;
  color: #515151;
  padding-top: 0.2rem;
}
.wrapPage .classDetails .hideBox .audioDiv .section .audioContTime {
  padding-top: 0.2rem;
  color: #BCBCBC;
}
.wrapPage .classDetails .hideBox .audioDiv .section .topaudio .topaudioBox {
  position: relative;
  height: 20px;
  padding: 0 1.3rem;
  overflow: hidden;
}
.wrapPage .classDetails .hideBox .audioDiv .section .topaudio .topaudioBox .txt {
  position: absolute;
  left: 0.13333333rem;
  top: 0;
  font-size: 0.3rem;
  color: #AEAEAE;
  padding-top: 0.08rem;
}
.wrapPage .classDetails .hideBox .audioDiv .section .topaudio .topaudioBox .txt2 {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.3rem;
  color: #AEAEAE;
  padding-top: 0.08rem;
}
.wrapPage .classDetails .hideBox .audioDiv .section .topaudio .topaudioBox .audioLine {
  width: 100%;
  height: 100%;
  position: relative;
}
.wrapPage .classDetails .hideBox .audioDiv .section .topaudio .topaudioBox .audioLine .lineaft {
  display: block;
  width: 0.15454px;
  height: 0.10666667rem;
  position: absolute;
  left: 0;
  top: 0.24rem;
  z-index: 1;
  background: #ff9933;
}
.wrapPage .classDetails .hideBox .audioDiv .section .topaudio .topaudioBox .audioLine:before {
  content: '';
  width: 100%;
  height: 0.10666667rem;
  position: absolute;
  left: 0;
  top: 0.24rem;
  z-index: 1;
  background: #f2f2f2;
}
.wrapPage .classDetails .hideBox .audioDiv .section .topaudio .topaudioBox .circle {
  background: #ff9933;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  width: 0.28rem;
  height: 0.28rem;
  display: block;
  position: absolute;
  left: 0.15454px;
  top: 0.14rem;
  z-index: 55;
  border-radius: 100%;
}
.wrapPage .classDetails .hideBox .audioDiv .recordNum {
  text-align: center;
  font-size: 0.3rem;
  color: #BCBCBC;
  padding: 0.53333333rem 0;
}
.wrapPage .classDetails .hideBox .audioDiv .audiohandle {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 0.3rem 0 0;
}
.wrapPage .classDetails .hideBox .audioDiv .audiohandle li {
  flex: 1;
  text-align: center;
}
.wrapPage .classDetails .hideBox .audioDiv .audiohandle .unuseable {
  padding: 0.2rem 0;
  position: relative;
}
.wrapPage .classDetails .hideBox .audioDiv .audiohandle .unuseable .lecture {
  line-height: 1.6rem;
  font-size: 0.34rem;
  color: #AEAEAE;
}
.wrapPage .classDetails .hideBox .audioDiv .audiohandle .playDiv {
  margin-top: 0.2rem;
}
.wrapPage .classDetails .hideBox .audioDiv .audiohandle .playDiv .playBtn {
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/askList/paly.png) no-repeat center center;
  background-size: 1.6rem;
  display: block;
  margin: 0 auto;
}
.wrapPage .classDetails .hideBox .audioDiv .audiohandle .playDiv .play {
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/askList/paly.png) no-repeat center center;
  background-size: 1.6rem;
  display: block;
  margin: 0 auto;
}
.wrapPage .classDetails .hideBox .audioDiv .audiohandle .playDiv .pause {
  width: 1.5rem !important;
  height: 1.5rem !important;
  background: url(../img/askList/pause.png) no-repeat center center !important;
  background-size: 1.5rem !important;
  display: block !important;
  margin: 0 auto !important;
}
.wrapPage .classDetails .hideBox .audioDiv .audiohandle .useable {
  padding: 0.2rem 0;
  position: relative;
}
.wrapPage .classDetails .hideBox .audioDiv .audiohandle .useable .Tanswer {
  line-height: 1.6rem;
  font-size: 0.34rem;
  color: #AEAEAE;
}
.wrapPage .classDetails .askRecommend {
  width: 100%;
  padding: 0.3rem 0.4rem 1rem;
  background-color: #F2F2F2;
}
.wrapPage .classDetails .askRecommend .recommendTit {
  font-size: 0.38rem;
  color: rgba(255, 153, 51, 0.6);
  margin: 0.3rem 0 0.5rem;
  background: url(../img/askList/recomend.png) no-repeat left center;
  background-size: 0.6rem;
  padding-left: 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.wrapPage .classDetails .askRecommend .leavingMessage {
  font-size: 0.38rem;
  color: rgba(255, 153, 51, 0.6);
  margin: 0.3rem 0 0.5rem;
  background: url(../img/classDetails/mess.png) no-repeat left center;
  background-size: 0.6rem;
  padding-left: 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.wrapPage .classDetails .askRecommend .rewardList {
  font-size: 0.38rem;
  height: 0.8rem;
  line-height: 0.8rem;
  color: rgba(255, 153, 51, 0.6);
  margin: 0 0 0.3rem;
  background: url(../img/classDetails/reward.png) no-repeat left center;
  background-size: 0.6rem;
  padding-left: 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.wrapPage .classDetails .askRecommend :-moz-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 0.3rem;
}
.wrapPage .classDetails .askRecommend ::-moz-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 0.3rem;
}
.wrapPage .classDetails .askRecommend input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 0.3rem;
}
.wrapPage .classDetails .askRecommend input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 0.3rem;
}
.wrapPage .classDetails .askRecommend .messBtn {
  display: block;
  width: 2rem;
  text-align: center;
  padding: 0.18rem 0;
  color: #fff;
  font-size: 0.3rem;
  margin-top: 0.15rem;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  -o-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #ff9933;
}
.wrapPage .classDetails .askRecommend .noMessage .bulbImage {
  width: 4rem;
  display: block;
  margin: 1rem auto;
}
.wrapPage .classDetails .askRecommend .noMessage .bulbText {
  text-align: center;
  font-size: 0.34rem;
  color: #949494;
  padding-bottom: 0.53333333rem;
}
.wrapPage .classDetails .askRecommend .classReco .recommendCon {
  width: 100%;
  min-height: 2rem;
  border: 1px solid #F2F2F2;
  border-bottom: none;
  background-color: #fff;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -ms-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
  -webkit-box-shadow: 1px 2px 3px rgba(161, 161, 161, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(161, 161, 161, 0.2);
  -ms-box-shadow: 1px 2px 3px rgba(161, 161, 161, 0.2);
  -o-box-shadow: 1px 2px 3px rgba(161, 161, 161, 0.2);
  box-shadow: 1px 2px 3px rgba(161, 161, 161, 0.2);
  padding: 0.4rem 0.3rem;
  margin-bottom: 0.4rem;
}
.wrapPage .classDetails .askRecommend .classReco .recommendCon .recommendImg {
  width: 14%;
}
.wrapPage .classDetails .askRecommend .classReco .recommendCon .recommendRight {
  width: 86%;
  padding-left: 0.13333333rem;
}
.wrapPage .classDetails .askRecommend .classReco .recommendCon .recommendRight h3 {
  font-size: 0.36rem;
  color: #333;
  padding-top: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.wrapPage .classDetails .askRecommend .classReco .recommendCon .recommendRight p {
  font-size: 0.3rem;
  color: #BCBCBC;
  padding-top: 0.2rem;
}
.wrapPage .classDetails .askRecommend .leavingMessUl {
  position: relative;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList {
  width: 100%;
  min-height: 2rem;
  border: 1px solid #F2F2F2;
  border-bottom: none;
  background-color: #fff;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -ms-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
  margin-bottom: 0.4rem;
  -webkit-box-shadow: 1px 2px 3px rgba(161, 161, 161, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(161, 161, 161, 0.2);
  -ms-box-shadow: 1px 2px 3px rgba(161, 161, 161, 0.2);
  -o-box-shadow: 1px 2px 3px rgba(161, 161, 161, 0.2);
  box-shadow: 1px 2px 3px rgba(161, 161, 161, 0.2);
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .messContentDiv {
  width: 92%;
  margin: 0 auto;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .messContentDiv .classbanner {
  width: 1rem;
  height: 1rem;
  float: left;
  margin-top: 0.4rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .messContentDiv .messCont {
  width: 81.5%;
  float: right;
  padding: 0.6rem 0 0.4rem;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .messContentDiv .messCont .messName {
  color: #6B6B6B;
  font-size: 0.34rem;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .messContentDiv .messCont .messBaby {
  color: #BCBCBC;
  font-size: 0.3rem;
  padding-top: 0.2rem;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .messContentDiv .messCont .messText {
  font-size: 0.36rem;
  color: #282828;
  line-height: 0.6rem;
  padding: 0.26666667rem 0;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .messContentDiv .messCont .messLine {
  font-size: 0.36rem;
  color: #282828;
  line-height: 0.6rem;
  padding: 0.26666667rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .messContentDiv .messCont .reward {
  margin: 0.26666667rem 0;
  color: #FF9933;
  height: 0.5rem;
  font-size: 0.36rem;
  line-height: 0.5rem;
  background: url("../img/classDetails/rew.png") no-repeat left center;
  background-size: 0.5rem;
  padding-left: 0.8rem;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .messContentDiv .messCont .voice {
  width: 100%;
  margin-top: 0.26666667rem;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .messContentDiv .messCont .voice .voicephoto {
  float: right;
  width: 1rem;
  height: 1rem;
  overflow: hidden;
  border-radius: 100%;
  margin-top: -0.13rem;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .messContentDiv .messCont .voice .voicephoto img {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .messContentDiv .messCont .voice .voicemsg {
  float: right;
  width: 80%;
  height: 1.01333333rem;
  position: relative;
  margin-top: -0.16rem;
  margin-right: 0.29333333rem;
  background-color: #ff9615;
  border-radius: 0.10666667rem;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .messContentDiv .messCont .voice .voicemsg .voicebar {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-left: 0.26666667rem;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .messContentDiv .messCont .voice .voicemsg .voicebar:after {
  content: '';
  display: block;
  width: 15px;
  height: 100%;
  background: url(../img/classDetails/voice@2x.png) center center no-repeat;
  background-size: 0.5rem;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .messContentDiv .messCont .voice .voicemsg .time {
  position: absolute;
  right: 0.3rem;
  top: 50%;
  margin-top: -0.21333333rem;
  font-size: 0.34666667rem;
  color: #fff;
}
@keyframes voicew {
  0% {
    width: 0px;
  }
  100% {
    width: 14px;
  }
}
@-webkit-keyframes voicew {
  0% {
    width: 0px;
  }
  100% {
    width: 14px;
  }
}
@-moz-keyframes voicew {
  0% {
    width: 0px;
  }
  100% {
    width: 14px;
  }
}
@-o-keyframes voicew {
  0% {
    width: 0px;
  }
  100% {
    width: 14px;
  }
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .messContentDiv .messCont .voice .active .voicebar {
  animation: voicew 0.8s infinite;
  -webkit-animation: voicew 0.8s infinite;
  -moz-animation: voicew 0.8s infinite;
  -o-animation: voicew 0.8s infinite;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .messContentDiv .messCont .voice .voicemsg:after {
  content: '';
  display: block;
  width: 0.24rem;
  height: 0.24rem;
  position: absolute;
  right: -0.13333333rem;
  top: 0.37333333rem;
  background-color: #ff9615;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .contentTopBor {
  border-top: 1px solid #F2F2F2;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .contentTopBor .messCont {
  padding-top: 0.4rem !important;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .messageBtn {
  display: block;
  width: 100%;
  text-align: center;
  color: #AEAEAE;
  font-size: 0.34rem;
  line-height: 1rem;
  background-color: #F2F2F2;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .stop {
  width: 100%;
  background-color: #F2F2F2;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .messList .stop .messageStop {
  display: block;
  width: 18%;
  margin: 0 auto;
  text-align: center;
  color: #AEAEAE;
  font-size: 0.34rem;
  line-height: 1rem;
  background: url("../img/classDetails/topArr.png") no-repeat right 0.25rem;
  background-size: 0.4rem;
  padding-right: 0.2rem;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .lookMoreContent {
  width: 100%;
  font-size: 0.34rem;
  color: #333;
  height: 1.9rem;
  text-align: center;
  color: #AEAEAE;
  position: absolute;
  bottom: -0.5rem;
  z-index: 222;
  padding-top: 1rem;
  -webkit-border-radius: 0 0 0.21333333rem 0.21333333rem;
  -moz-border-radius: 0 0 0.21333333rem 0.21333333rem;
  -ms-border-radius: 0 0 0.21333333rem 0.21333333rem;
  border-radius: 0 0 0.21333333rem 0.21333333rem;
  background: -ms-linear-gradient(top, #ffffff, #f2f2f2);
  /* IE 10 */
  background: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  /*火狐*/
  /*谷歌*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f2f2f2));
  /* Safari 4-5, Chrome 1-9*/
  background: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  /*Safari5.1 Chrome 10+*/
  background: -o-linear-gradient(top, #ffffff, #f2f2f2);
  /*Opera 11.10+*/
}
.wrapPage .classDetails .askRecommend .leavingMessUl .lookMoreContent .lowerArrImg {
  width: 0.5rem;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .hideContent {
  width: 100%;
  font-size: 0.34rem;
  color: #333;
  text-align: center;
  color: #AEAEAE;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .hideContent .lowerArrImg {
  width: 0.4rem;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .lookMoreContent1 {
  width: 100%;
  font-size: 0.34rem;
  color: #333;
  height: 1.9rem;
  text-align: center;
  color: #AEAEAE;
  position: absolute;
  bottom: -0.2rem;
  z-index: 222;
  padding-top: 1rem;
  -webkit-border-radius: 0 0 0.21333333rem 0.21333333rem;
  -moz-border-radius: 0 0 0.21333333rem 0.21333333rem;
  -ms-border-radius: 0 0 0.21333333rem 0.21333333rem;
  border-radius: 0 0 0.21333333rem 0.21333333rem;
  background: -ms-linear-gradient(top, #ffffff, #f2f2f2);
  /* IE 10 */
  background: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  /*火狐*/
  /*谷歌*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f2f2f2));
  /* Safari 4-5, Chrome 1-9*/
  background: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  /*Safari5.1 Chrome 10+*/
  background: -o-linear-gradient(top, #ffffff, #f2f2f2);
  /*Opera 11.10+*/
}
.wrapPage .classDetails .askRecommend .leavingMessUl .lookMoreContent1 .lowerArrImg {
  width: 0.5rem;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .hideContent1 {
  width: 100%;
  font-size: 0.34rem;
  color: #333;
  text-align: center;
  color: #AEAEAE;
}
.wrapPage .classDetails .askRecommend .leavingMessUl .hideContent1 .lowerArrImg {
  width: 0.4rem;
}
.messPage {
  width: 100%;
  height: 100%;
  padding: 0.4rem;
  position: absolute;
  z-index: 999999;
  top: 0;
  background-color: yellow;
}
.messPage :-moz-placeholder {
  color: #A1A1A1;
  opacity: 1;
  font-size: 0.3rem;
}
.messPage ::-moz-placeholder {
  color: #A1A1A1;
  opacity: 1;
  font-size: 0.3rem;
}
.messPage textarea:-ms-input-placeholder {
  color: #A1A1A1;
  opacity: 1;
  font-size: 0.3rem;
}
.messPage textarea::-webkit-input-placeholder {
  color: #A1A1A1;
  opacity: 1;
  font-size: 0.3rem;
}
.messPage .messTitle {
  text-align: left;
  font-size: 0.5rem;
  line-height: 0.65rem;
  padding: 0.53333333rem 0;
}
.messPage .font13 {
  width: 100%;
  height: 3rem;
  padding: 0.26666667rem;
  position: relative;
  font-size: 0.34rem;
  border: 1px solid #F2F2F2;
  -webkit-border-radius: 0.17333333rem;
  -moz-border-radius: 0.17333333rem;
  -ms-border-radius: 0.17333333rem;
  -o-border-radius: 0.17333333rem;
  border-radius: 0.17333333rem;
}
.messPage .font13 .txtarebox {
  width: 100%;
  height: 100%;
  font-size: 0.32rem;
  line-height: 0.6rem;
  color: #333;
}
.messPage .font13 p {
  display: none;
  padding-right: 0.2rem;
  position: absolute;
  right: 0.26666667rem;
  bottom: 0.26666667rem;
  color: #BCBCBC;
  font-size: 0.3rem;
}
.messPage .font13 p span {
  color: #ff9933;
}
.messPage .contentBtn {
  width: 100%;
  padding: 0.53333333rem 0.4rem;
}
.messPage .contentBtn li {
  float: right;
  font-size: 0.38rem;
}
.messPage .contentBtn .submitCont {
  color: #0099FF;
  padding-left: 0.4rem;
}
.messPage .contentBtn .cancelCont {
  color: #949494;
  border-right: 1px solid #F2F2F2;
  padding: 0 0.4rem;
}
.classNav {
  width: 100%;
  max-width: 540px;
  height: 1.5rem;
  background-color: #F2F2F2;
  position: fixed;
  bottom: -0.1rem;
  z-index: 888;
  border-top: 1px solid #e4e4e4;
}
.classNav li {
  width: 20%;
  float: left;
  height: 1.5rem;
  text-align: center;
  padding: 0.13333333rem 0;
}
.classNav li img {
  display: block;
  width: 0.4rem;
  margin: 0 auto;
}
.classNav li .navText {
  text-align: center;
  font-size: 0.3rem;
  color: #C9C9C9;
  padding: 0.15rem 0;
}
.classNav .navListBtn {
  width: 40%;
  background-color: #FF9933;
}
.classNav .navListBtn p {
  color: #fff;
}
.classNav .navListBtn :nth-child(1) {
  font-size: 0.34rem;
  padding: 0.15rem 0 0;
}
.classNav .navListBtn :nth-child(2) {
  font-size: 0.3rem;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.classNav .navListBtn .pic {
  font-size: 0.38rem;
  line-height: 1.2rem;
  padding: 0;
}
.classNav .navList {
  width: 20%;
  padding-top: 0.2rem;
}
.classNav .navList :-moz-placeholder {
  opacity: 1;
  font-size: 0.3rem;
  color: #C9C9C9;
}
.classNav .navList ::-moz-placeholder {
  opacity: 1;
  font-size: 0.3rem;
  color: #C9C9C9;
}
.classNav .navList input:-ms-input-placeholder {
  opacity: 1;
  font-size: 0.3rem;
  color: #C9C9C9;
}
.classNav .navList input::-webkit-input-placeholder {
  opacity: 1;
  font-size: 0.3rem;
  color: #C9C9C9;
}
.classNav .navList input {
  width: 100%;
}
.classNav .collection {
  padding-top: 0.2rem;
}
.classNav .collection img {
  display: block;
  width: 0.4rem;
  margin: 0 auto;
}
.classNav .collection .navText {
  text-align: center;
  font-size: 0.3rem;
  color: #C9C9C9;
  padding: 0.16rem 0;
}
.classNav .collectionOran {
  padding-top: 0.2rem;
}
.classNav .collectionOran img {
  display: block;
  width: 0.45rem;
  margin: 0 auto;
}
.classNav .collectionOran .navText {
  text-align: center;
  font-size: 0.3rem;
  color: #FF9933;
  padding: 0.15rem 0;
}
