.wrapPage {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapPage .homePage {
  width: 100%;
  height: auto;
}
.wrapPage .homePage .banner {
  width: 100%;
  position: relative;
}
.wrapPage .homePage .banner .bannerImg {
  width: 100%;
  height: 5rem;
}
.wrapPage .homePage .banner .userInfo {
  position: absolute;
  bottom: 0.26666667rem;
  left: 0.4rem;
  color: #fff;
}
.wrapPage .homePage .banner .userInfo h2 {
  font-size: 0.58rem;
  text-shadow: 1.5px -0.5px 0px rgba(201, 201, 201, 0.8);
  padding-bottom: 0.13333333rem;
}
.wrapPage .homePage .banner .userInfo span {
  font-size: 0.34rem;
  text-shadow: 1.5px -0.5px 0px rgba(201, 201, 201, 0.8);
}
.wrapPage .homePage .banner .search {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 0.4rem;
  bottom: -0.7rem;
  z-index: 22;
  background-color: #ffcc33;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  padding: 0.2rem 0;
  -webkit-box-shadow: 2px 2px 3px rgba(161, 161, 161, 0.3);
  -moz-box-shadow: 2px 2px 3px rgba(161, 161, 161, 0.3);
  -ms-box-shadow: 2px 2px 3px rgba(161, 161, 161, 0.3);
  -o-box-shadow: 2px 2px 3px rgba(161, 161, 161, 0.3);
  box-shadow: 2px 2px 3px rgba(161, 161, 161, 0.3);
}
.wrapPage .homePage .banner .search img {
  display: block;
  width: 0.6rem;
  margin: 0 auto;
}
.wrapPage .homePage .banner .search .searchText {
  color: #fff;
  font-size: 0.3rem;
}
.wrapPage .homePage .section {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 0.3rem;
  overflow: auto;
  border-bottom: 0.1rem solid #efeff4;
}
.wrapPage .homePage .section .sectionTitle {
  height: 0.6rem;
  margin-top: 0.53333333rem;
  font-size: 0.34rem;
  color: #949494;
  line-height: 0.6rem;
  background: url(../img/day1.png) no-repeat left center;
  background-size: 0.6rem;
  padding-left: 0.7rem;
}
.wrapPage .homePage .section .sectionText {
  width: 100%;
  padding-bottom: 0.26666667rem;
}
.wrapPage .homePage .section .sectionText .textLeft {
  width: 70%;
  padding-left: 0.1rem;
}
.wrapPage .homePage .section .sectionText .textLeft .leftTop {
  padding: 0.53333333rem 0 0.21333333rem;
  font-size: 0.36rem;
  color: #333;
}
.wrapPage .homePage .section .sectionText .textLeft .leftBot {
  color: #949494;
  font-size: 0.3rem;
}
.wrapPage .homePage .section .sectionText .textRight {
  width: 29%;
  position: relative;
}
.wrapPage .homePage .section .sectionText .textRight .rightImg {
  width: 100%;
}
.wrapPage .homePage .section .sectionText .textRight .rightPlay {
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  right: 0.13333333rem;
  bottom: 0.13333333rem;
}
.wrapPage .homePage .section .sectionText .textRight .playBtn {
  width: 0.8rem;
  height: 0.8rem;
  background: url(../img/play.png) no-repeat center center;
  background-size: 0.8rem;
  position: absolute;
  right: 0.13333333rem;
  bottom: 0.13333333rem;
}
.wrapPage .homePage .section .sectionText .textRight .pause {
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  right: 0.13333333rem;
  bottom: 0.13333333rem;
  background: url(../img/pause.png) no-repeat center center;
  background-size: 0.8rem;
}
.wrapPage .homePage .section .sectionTitle1 {
  margin-top: 0;
  background: url(../img/zx.png) no-repeat left center;
  background-size: 0.6rem;
  padding-left: 0.7rem;
}
.wrapPage .homePage .section .consultation {
  padding-left: 0.15rem;
}
.wrapPage .homePage .section .consultation .askname {
  padding: 0.26666667rem 0 0.13333333rem;
  font-size: 0.4rem;
  color: #333;
}
.wrapPage .homePage .section .consultation .askDate {
  color: #949494;
  font-size: 0.32rem;
  line-height: 0.8rem;
}
.wrapPage .homePage .section .consultation .askContent {
  font-size: 0.36rem;
  color: #333;
  line-height: 0.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.wrapPage .homePage .section .consultation .starRegion {
  width: 100%;
  padding-top: 0.21333333rem;
}
.wrapPage .homePage .section .consultation .starRegion li {
  float: left;
  margin-right: 0.13333333rem;
  font-size: 0.5rem;
  color: #FF9933;
}
.wrapPage .homePage .section .consultation .lookMore {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-top: 0.21333333rem;
  border-top: 1px solid #F2F2F2;
}
.wrapPage .homePage .section .consultation .lookMore li {
  padding-top: 0.3rem;
  flex: 1;
  color: #BCBCBC;
  font-size: 0.34rem;
}
.wrapPage .homePage .section .consultation .lookMore .moreLeft {
  text-align: left;
}
.wrapPage .homePage .section .consultation .lookMore .moreRight {
  text-align: right;
}
.wrapPage .homePage .adPosition {
  width: 100%;
  position: relative;
}
.wrapPage .homePage .adPosition .positionImg {
  width: 100%;
}
.wrapPage .homePage .adPosition .positionText {
  font-size: 0.4rem;
  color: #333;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
}
.wrapPage .homePage .welfareArea {
  width: 100%;
  padding: 0.3rem;
}
.wrapPage .homePage .welfareArea .areaTitle {
  height: 0.6rem;
  color: #949494;
  line-height: 0.6rem;
  background: url(../img/welfare.png) no-repeat left center;
  background-size: 0.6rem;
  padding-left: 0.7rem;
  margin-bottom: 0.4rem;
}
.wrapPage .homePage .welfareArea .areaTitle .areaLeft {
  font-size: 0.34rem;
}
.wrapPage .homePage .welfareArea .areaTitle1 {
  background: url(../img/free.png) no-repeat left center;
  background-size: 0.6rem;
  padding-left: 0.7rem;
}
.wrapPage .homePage .welfareArea .areaTitle1 .areaLeft {
  font-size: 0.34rem;
}
.wrapPage .homePage .welfareArea .vipCard {
  width: 100%;
  min-height: 2rem;
  border: 1px solid #F2F2F2;
  border-bottom: none;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -ms-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
  -webkit-box-shadow: 0px 2px 3px rgba(161, 161, 161, 0.2);
  -moz-box-shadow: 0px 2px 3px rgba(161, 161, 161, 0.2);
  -ms-box-shadow: 0px 2px 3px rgba(161, 161, 161, 0.2);
  -o-box-shadow: 0px 2px 3px rgba(161, 161, 161, 0.2);
  box-shadow: 0px 2px 3px rgba(161, 161, 161, 0.2);
  padding: 0.3rem;
}
.wrapPage .homePage .welfareArea .vipCard .vipImg {
  width: 100%;
  height: 3rem;
}
.wrapPage .homePage .welfareArea .vipCard .vipText {
  width: 100%;
  padding-top: 0.3rem;
}
.wrapPage .homePage .welfareArea .vipCard .vipText .vipLeft {
  color: #515151;
  font-size: 0.36rem;
  padding-top: 0.1rem;
}
.wrapPage .homePage .welfareArea .vipCard .vipText .vipRight {
  padding: 0.1rem 0.2rem;
  font-size: 0.3rem;
  color: #FF9933;
  border: 1px solid #FF9933;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -ms-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
}
.wrapPage .homePage .welfareArea .freeText {
  width: 100%;
  min-height: 2rem;
  border: 1px solid #F2F2F2;
  border-bottom: none;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -ms-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
  -webkit-box-shadow: 0px 2px 3px rgba(161, 161, 161, 0.2);
  -moz-box-shadow: 0px 2px 3px rgba(161, 161, 161, 0.2);
  -ms-box-shadow: 0px 2px 3px rgba(161, 161, 161, 0.2);
  -o-box-shadow: 0px 2px 3px rgba(161, 161, 161, 0.2);
  box-shadow: 0px 2px 3px rgba(161, 161, 161, 0.2);
  padding: 0.4rem 0.3rem;
  margin-bottom: 0.4rem;
}
.wrapPage .homePage .welfareArea .freeText .freeImg {
  width: 14%;
}
.wrapPage .homePage .welfareArea .freeText .freeRight {
  width: 86%;
  padding-left: 0.13333333rem;
}
.wrapPage .homePage .welfareArea .freeText .freeRight h3 {
  font-size: 0.36rem;
  color: #333;
  padding-top: 0.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.wrapPage .homePage .welfareArea .freeText .freeRight p {
  font-size: 0.3rem;
  color: #BCBCBC;
  padding-top: 0.2rem;
}
.wrapPage .homePage .service {
  width: 100%;
  min-height: 3rem;
  background-color: #f2f2f2;
  padding: 0.3rem ;
}
.wrapPage .homePage .service .serviceTitle {
  font-size: 0.38rem;
  color: #5E5E5E;
  padding-bottom: 0.3rem;
}
.wrapPage .homePage .service .serviceCon {
  width: 100%;
  min-height: 2rem;
  margin-bottom: 0.3rem;
  background-color: #fff;
  padding: 0.3rem;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -ms-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
}
.wrapPage .homePage .service .serviceCon h4 {
  font-size: 0.34rem;
  color: #797979;
}
.wrapPage .homePage .service .serviceCon .serviceText {
  width: 100%;
  padding: 0.4rem 0;
  border-bottom: 1px solid #F2F2F2;
}
.wrapPage .homePage .service .serviceCon .serviceText .serviceLeft {
  width: 73%;
}
.wrapPage .homePage .service .serviceCon .serviceText .serviceLeft h3 {
  font-size: 0.36rem;
  color: #333;
}
.wrapPage .homePage .service .serviceCon .serviceText .serviceLeft .serviceBot {
  font-size: 0.3rem;
  color: #BCBCBC;
  padding-top: 0.26666667rem;
}
.wrapPage .homePage .service .serviceCon .serviceText .serviceImg {
  width: 2.5rem;
  height: 1.6rem;
  margin-right: -0.2rem;
  -webkit-box-shadow: 2px 2px 3px rgba(161, 161, 161, 0.2);
  -moz-box-shadow: 2px 2px 3px rgba(161, 161, 161, 0.2);
  -ms-box-shadow: 2px 2px 3px rgba(161, 161, 161, 0.2);
  -o-box-shadow: 2px 2px 3px rgba(161, 161, 161, 0.2);
  box-shadow: 2px 2px 3px rgba(161, 161, 161, 0.2);
}
.wrapPage .homePage .service .serviceCon .serviceText .speakImg {
  width: 2.5rem;
  height: 1.6rem;
  -webkit-box-shadow: 2px 2px 3px rgba(161, 161, 161, 0.2);
  -moz-box-shadow: 2px 2px 3px rgba(161, 161, 161, 0.2);
  -ms-box-shadow: 2px 2px 3px rgba(161, 161, 161, 0.2);
  -o-box-shadow: 2px 2px 3px rgba(161, 161, 161, 0.2);
  box-shadow: 2px 2px 3px rgba(161, 161, 161, 0.2);
}
.wrapPage .homePage .service .serviceCon .serviceText .speakLeft {
  width: 70%;
  padding-left: 0.2rem;
}
.wrapPage .homePage .service .serviceCon .serviceText .speakLeft h3 {
  font-size: 0.36rem;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.wrapPage .homePage .service .serviceCon .serviceText .speakLeft .serviceBot {
  font-size: 0.3rem;
  color: #BCBCBC;
  padding-top: 0.13333333rem;
}
.wrapPage .homePage .service .serviceCon .lookWhole {
  display: block;
  margin: 0 auto;
  width: 40%;
  text-align: center;
  padding: 0.15rem 0;
  margin-top: 0.3rem;
  background-color: #f2f2f2;
  color: #A1A1A1;
  font-size: 0.3rem;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -ms-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
}
.wrapPage .homePage .service .serviceCon1 {
  margin-bottom: 0;
}
.wrapPage .homePage .activity {
  width: 100%;
  min-height: 3rem;
  padding: 0.3rem;
}
.wrapPage .homePage .activity .activityTitle {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.wrapPage .homePage .activity .activityTitle .babyTitle {
  flex: 1;
  color: #797979;
  font-size: 0.34rem;
}
.wrapPage .homePage .activity .activityTitle .project {
  flex: 1;
  color: #333;
  font-size: 0.34rem;
  text-align: right;
}
.wrapPage .homePage .activity .activityImg {
  width: 100%;
  margin: 0.4rem 0 0;
}
.wrapPage .homePage .activity .activityAdd {
  width: 100%;
  padding: 0.3rem;
  border-bottom: 1px solid #F2F2F2;
}
.wrapPage .homePage .activity .activityAdd .babyTitle {
  color: #797979;
  padding-top: 0.1rem;
  font-size: 0.34rem;
}
.wrapPage .homePage .activity .activityAdd .addImg {
  width: 0.6rem;
}
.wrapPage .homePage .activity .activityList {
  width: 100%;
  padding: 0.3rem;
  border-bottom: 1px solid #F2F2F2;
}
.wrapPage .homePage .activity .activityList .listTitle {
  font-size: 0.36rem;
  color: #333;
}
.wrapPage .homePage .activity .activityList .listContent {
  font-size: 0.32rem;
  color: #BCBCBC;
  padding-top: 0.3rem;
}
.wrapPage .answerPage {
  width: 100%;
  height: auto;
}
.wrapPage .answerPage .answerBanner {
  width: 100%;
  margin-top: 0.5rem;
}
.wrapPage .answerPage .answerBtn {
  display: block;
  width: 80%;
  background-color: #F39D39;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 0.38rem;
  padding: 0.22rem;
  border-radius: 100px;
  margin: 0.7rem auto 0 auto;
}
.wrapPage .answerPage .opportunity {
  font-size: 0.32rem;
  text-align: center;
  color: #0099FF;
  padding: 0.4rem;
}
.wrapPage .answerPage .askRecord {
  width: 100%;
  padding: 0 0.3rem 0.5rem;
  border-bottom: 0.1rem solid #efeff4;
}
.wrapPage .answerPage .askRecord .askContent {
  width: 100%;
  min-height: 2rem;
  padding: 0.3rem;
  border: 1px solid #F2F2F2;
  border-bottom: none;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -ms-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}
.wrapPage .answerPage .askRecord .askContent .askTit {
  width: 100%;
  padding-bottom: 0.3rem;
}
.wrapPage .answerPage .askRecord .askContent .askTit li {
  font-size: 0.36rem;
}
.wrapPage .answerPage .askRecord .askContent .askTit .askLeft {
  color: #797979;
}
.wrapPage .answerPage .askRecord .askContent .askTit .askRight {
  color: #C9C9C9;
}
.wrapPage .answerPage .askRecord .askContent .askTime {
  width: 100%;
  font-size: 0.3rem;
  color: #AEAEAE;
}
.wrapPage .answerPage .askRecord .askContent .askDetails {
  width: 100%;
  font-size: 0.38rem;
  line-height: 0.6rem;
  margin: 0.2rem 0 0.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.wrapPage .answerPage .askRecord .askContent .askAnswer {
  width: 100%;
  text-align: right;
}
.wrapPage .answerPage .askRecord .askContent .askAnswer .evaluate {
  display: block;
  font-size: 0.3rem;
  color: #A1A1A1;
  transform: scale(0.8);
  border: 1px solid #e4e4e4;
  padding: 0.05rem 0.3rem;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -ms-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
  margin-right: 0.2rem;
}
.wrapPage .answerPage .askRecord .askContent .askAnswer .lookAnswer {
  color: #FF9933;
  font-size: 0.38rem;
  padding-top: 0.03rem;
}
.wrapPage .answerPage .selectedAudio {
  width: 100%;
  padding: 0.3rem;
  min-height: 2rem;
  border-bottom: 1px solid #F2F2F2;
}
.wrapPage .answerPage .selectedAudio .audioTitle {
  font-size: 0.36rem;
  color: #797979;
}
.wrapPage .answerPage .selectedAudio .slide {
  width: 2.5rem;
  height: 3.2rem;
  margin: 0.26666667rem 0;
  padding: 0.2rem;
  text-align: center;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -ms-border-radius: 0.08rem;
  border-radius: 0.08rem;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
}
.wrapPage .answerPage .selectedAudio .slide .slideImg {
  width: 100%;
  height: 1.5rem;
}
.wrapPage .answerPage .selectedAudio .slide .slideTitle {
  font-size: 0.34rem;
  color: #333;
  padding: 0.2rem 0 0.1rem;
}
.wrapPage .answerPage .selectedAudio .slide .slideContent {
  font-size: 0.3rem;
  color: #AEAEAE;
}
.wrapPage .answerPage .recommend {
  width: 100%;
  padding: 0.3rem;
}
.wrapPage .answerPage .recommend .recommendTit {
  font-size: 0.36rem;
  color: #797979;
  padding-bottom: 0.3rem;
}
.wrapPage .answerPage .recommend .recommendCon {
  width: 100%;
  min-height: 2rem;
  border: 1px solid #F2F2F2;
  border-bottom: none;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -ms-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 0.4rem 0.3rem;
  margin-bottom: 0.4rem;
}
.wrapPage .answerPage .recommend .recommendCon .recommendImg {
  width: 14%;
}
.wrapPage .answerPage .recommend .recommendCon .recommendRight {
  width: 86%;
  padding-left: 0.13333333rem;
}
.wrapPage .answerPage .recommend .recommendCon .recommendRight h3 {
  font-size: 0.36rem;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.wrapPage .answerPage .recommend .recommendCon .recommendRight p {
  font-size: 0.3rem;
  color: #BCBCBC;
  padding-top: 0.2rem;
}
.wrapPage .answerPage .recommend .lookAudio {
  text-align: center;
  font-size: 0.36rem;
  color: #A1A1A1;
}
.wrapPage .answerPage .askSelected {
  width: 100%;
  min-height: 3rem;
  padding: 0.3rem;
  background-color: #f2f2f2;
}
.wrapPage .answerPage .askSelected .askSelectedTit {
  font-size: 0.36rem;
  color: #797979;
  padding-bottom: 0.3rem;
}
.wrapPage .answerPage .askSelected .selectedCase {
  width: 100%;
  min-height: 2rem;
  border: 1px solid #F2F2F2;
  border-bottom: none;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -ms-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 0.4rem 0.3rem;
  margin-bottom: 0.4rem;
  background-color: #fff;
}
.wrapPage .answerPage .askSelected .selectedCase .askname {
  padding-bottom: 0.13333333rem;
  font-size: 0.4rem;
  color: #333;
}
.wrapPage .answerPage .askSelected .selectedCase .askDate {
  color: #949494;
  font-size: 0.32rem;
  line-height: 0.8rem;
}
.wrapPage .answerPage .askSelected .selectedCase .askContent {
  font-size: 0.36rem;
  color: #333;
  line-height: 0.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.wrapPage .answerPage .askSelected .selectedCase .selectedStar {
  width: 100%;
  padding-top: 0.21333333rem;
}
.wrapPage .answerPage .askSelected .selectedCase .selectedStar .starRegion li {
  float: left;
  margin-right: 0.13333333rem;
  font-size: 0.5rem;
  color: #FF9933;
}
.wrapPage .answerPage .askSelected .selectedCase .selectedStar .starDetail {
  font-size: 0.38rem;
  color: #0099FF;
}
.wrapPage .answerPage .askSelected .lookCase {
  text-align: center;
  font-size: 0.36rem;
  color: #5E5E5E;
  padding-bottom: 0.5rem;
}
